.div_atas
{ 
	position: absolute;
	width: 1551px;
	height: 896px;
	left: 196px;
	top: 17px;

	background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 44.23%, rgba(255, 255, 255, 0) 54.87%), radial-gradient(78.19% 78.19% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/background1.png);

}

	.main {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 220px;
    padding-bottom: 300px; 
    background-image:  url(../img/background1.png);
}
.btn-pink {
    border-radius: 8px;
    background-color: #e4007e;
    color: white;
    font-weight: 500;
    transition: all .3s ease;
}
#topnav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: transparent;
    border: 0;
    transition: all .5s ease;
    padding: 10px;
}
h1.head-product {
    margin-bottom: 48px;
    margin-top: 87px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
.text-rainbow {
   
background: linear-gradient(268.91deg, #050774 -7.14%, #E4007E 96.32%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.content-product
{ 
	width: 562.48px; 
	font-weight: 400;
  	margin:0 auto;
	font-size: 18px; 
	text-align: center; 
	color: #8B8B8B;
	padding: 30px;
}
.text-blue {
    color: #050774;
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.learn-more-link { 
	margin-top: 30px; 
}
.div-red
{
	width: 100%;padding:50px 10px;
	background: #F0EEFE;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin: auto;
}
.div-blue
{
	width: 100%;padding:50px 10px;
	background: #ECF5FF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin: auto;
}
.footer-main {
    width: 100%;
    height: 100%;
    background: #202020;
}
.video-div {
	padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    background-image:  url(../img/rainbow.png);
}
.embed-responsive {
    position: relative;
    display: block;
    /* width: 100%; */
    width: 900px;
    padding: 0;
    margin: auto;
    overflow: hidden;
}
.btn-gabung
{
	background-color: #050774; 
	border-radius: 8px; 
	width: 158px; 
	height: 50px; 
	padding: 10px
}
.list-kerja {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    border-radius: 18.8699px;
    padding: 20px;
}

.btn-apply
{
	background-color: #050774; 
	border-radius: 8px; 
	width: 158px; 
	height: 50px;  
	padding: 10px 60px 10px 60px;
}